body, html {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #333;
}

.matchSigningBox {
    padding: 20px;
    display: grid;
    font-size: 1.5em;
    gap: 50px;
    grid-template-columns: 10% 20% 30% 20%;
    grid-template-rows: 0px 80px 120px 120px 120px 80px;
}

.game {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

.matchTournamentSelect {
    grid-column: 3;
    grid-row: 2;
    text-align: center;
}

.inputTournament {
    grid-column: 4;
    grid-row: 2;
    text-align: center;
}

.team1name {
    grid-column: 4;
    grid-row: 3;
    text-align: center;
}

.team2name {
    grid-column: 4;
    grid-row: 4;
    text-align: center;
}

.preTeams1 {
    grid-column: 3;
    grid-row: 3;
    text-align: center;
}

.preTeams2 {
    grid-column: 3;
    grid-row: 4;
    text-align: center;
}

.imgTeam1 {
    grid-column: 2;
    grid-row: 3;
    height: 120px;
    margin: 0 auto;
}

.imgTeam2 {
    grid-column: 2;
    grid-row: 4;
    height: 120px;
    margin: 0 auto;
}

.format {
    grid-column: 4;
    grid-row: 5;
    text-align: center;
}

.date {
    grid-column: 2;
    grid-row: 5;
    text-align: center;
}

.time {
    grid-column: 3;
    grid-row: 5;
    text-align: center;
}

.addMatch {
    grid-column: 3;
    grid-row: 6;
    text-align: center;
}

/* From Uiverse.io by Yaseen549 */ 
.input {
    color: rgb(255, 255, 255);
    background-color: #212121;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 80%;
}

.input:focus {  
    color: rgb(255, 255, 255);
    background-color: #212121;
    outline-color: rgb(0, 255, 0);
    box-shadow: -3px -3px 15px rgb(0, 255, 0);
    transition: .1s;
    transition-property: box-shadow;
}
